@import "tailwindcss";

body {
    background: #e5e5e0;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--font-amiamie);
}

@theme {
    --color-gold: #cfa355;
    --color-background: #e5e5e0;
}